.box {
    /* Orderings: */
    /* padding: top right bottom left */
    padding: 2px 8px 2px 8px;
    border: 2px solid;
}

code {
    background-color: lightgrey;
    border-radius: 2px;
    padding: 2px 6px 2px 6px;
}

blockquote {
    font-style: italic;
}